<div class="main-container" id="about-container">
    <h1>About me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam a, laudantium nulla necessitatibus minus suscipit molestiae, numquam obcaecati repellat voluptatem, minima delectus repudiandae nam praesentium! Suscipit corrupti porro fugit incidunt.</p>
</div>