<div id="home-container" class="main-container">
    <h1>This (will be) the portfolio</h1>
    <p>of a documentary filmmaker turned web developer</p>
    {{!-- <div id="demo-reel">There *should* be a demo-reel here someday</div> --}}
    {{!-- <canvas id="demo-reel" width="300" height="300"></canvas> --}}
</div>