<div class="add-form">
    <form action="/work/create" enctype="multipart/form-data" method="post">
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" placeholder="Film title">
    
    <label for="employer">Employer: </label>
    <input id="employer" name="employer" type="text" placeholder="MSF">

    <label for="duration">Duration:</label>
    <input id="duration" name="duration" type="text" placeholder="00:00">
    
    <label for="image">Image:</label>
    <input type="file" id="image" name="imageURL">

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="Some infos about the film">
    
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" placeholder="documentaire">

    <label for="year">Year:</label>
    <input type="Number" min="2000" id="year" name="year" placeholder="2020">
    
    <label for="link">Link:</label>
    <input type="text" id="link" name="link" placeholder="youtube">
    
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" placeholder="France">
    
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" placeholder="réalisatrice">

    <button type="submit"> Creer un nouveau film</button>
    </form>
</div>