/*  RESET */
body {
    margin: 0;
    padding: O;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


nav, footer {
  background-color: black;
  color: white; 
  height: 10vh; 
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
  font-size: 1rem; 
}


nav a:hover {
    font-weight:800;
    color: white;
    height: 20px;
}

#add-film {
    height: 30px;;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

.main-container {
    height: 80vh;;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: black;
    color: white;
    background-image: url("./../images/MSF309688\(High\).jpg");
    background-size: 100vw;
    background-position-y: -100px;
    background-repeat: no-repeat;
}

/* #demo-reel {
    border: 1px solid black;
    width: 60vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
} */


#work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work-title {
    text-align: center;
}

.film-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.film-container img {
    width: 100%;
    object-fit: contain;
}

.add-form  form{
    height: 80vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px
}

.add-form input {
    width: 200px;
}

.add-form label {
    font-size: 14px;
}

.add-form button {
    margin-top: 15px;
    cursor: pointer;
}
